# Python Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
*.log
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Frontend
node_modules/
/front/dist
/front/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# System Files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/ 